@mixin message-shared($padding_in_item, $border_radius) {
    padding-right: $padding_in_item;
    display: flex;
    flex-direction: column;

    > * {
        opacity: 0;
        transform: translateY(1em);
        transition:
            opacity 300ms ease-out,
            transform 300ms ease-out;
    }

    .title {
        color: var(--color-basic-white);
        font-size: 1.4em;
        line-height: 1.1em;
        font-weight: 800;
        text-align: center;
        padding-top: 1em;
    }

    .descr {
        color: var(--color-basic-white-80);
        font-size: 0.8em;
        line-height: 1.1em;
        max-width: 80%;
        align-self: center;
        text-align: center;
        padding: 1em 0;
    }

    .content {
        color: var(--color-basic-white);
    }

    .case-nav {
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        gap: 1em;

        a {
            color: var(--color-basic-white);
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 0.8em;
            background-color: black;
            padding: 0.3em 0.6em;
            border-radius: 3px;
            font-weight: 500;

            transition:
                color 300ms ease-in-out,
                transform 200ms ease-in-out,
                background-color 300ms ease-in-out;
            position: relative;

            &::after {
                position: absolute;
                inset: 0;
                content: "";
                background-color: transparent;
                transition: background-color 300ms ease-in-out;
            }

            &:hover {
                color: var(--color-azure);
                background-color: #000;
                transform: translateY(-2px);

                &::after {
                    background-color: var(--color-button-hover-bg);
                }
            }
        }

        :global(svg) {
            width: 1.3em;
            height: 1.3em;
            opacity: 0.8;
        }

        :global(:is(a)) {
            color: var(--color-azure);
            text-decoration: none;
            opacity: 0.9;
            transition: opacity 300ms ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        &:last-child {
            padding: 2em;
        }
    }

    :global(:is(a)) {
        color: var(--color-azure);
        text-decoration: none;
        opacity: 0.9;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    :global(:is(li)) {
        padding: 0.5em 0 0.5em 1.6em;
        display: flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 0.25em;
            height: 0.25em;
            top: 0.6em + 0.5em;
            left: 0.5em;
            background-color: var(--color-basic-white-80);
            border-radius: 50%;
        }
    }

    :global(img) {
        object-fit: contain;
    }

    :global(:is(p:has(img))) {
        max-height: 25em;
        overflow: hidden;
        border-radius: $border_radius;
        padding: 0;
        margin: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    :global(:is(h4, h5, h6, h1, h2, h3)) {
        font-size: 1.3em;
        padding: 1.2em 0 0 0;
        color: var(--color-basic-white-80);
        margin-bottom: -0.3em;
    }

    :global(:is(p, li)) {
        font-size: 0.9em;
    }

    :global(li) {
        display: inline-block;
        flex-wrap: wrap;

        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: 0;

            &::before {
                top: 0.6em !important;
            }
        }
    }

    :global(:is(p, ul)) {
        padding: 1em 0 0.1em 0;
        color: var(--color-basic-white-80);
    }

    :global(hr) {
        padding-top: 0;
        margin: 1em 0 0.1em 0;
        height: 1px;
        width: 90%;
        justify-self: center;
        opacity: 0.2;
    }

    :global(code) {
        color: var(--color-code);
        background-color: var(--color-code-bg);
        padding: 0.2em 0.4em;
        // margin: -0.2em;
        line-height: 1em;
        font-size: 0.9em;
        border-radius: 2px;
    }
}
