.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

@media (max-width: 533px) {
    .container {
        padding: 0 0.3em;
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
