---
import SVGSendEmail from "../assets/send-email.svg";
import SVGMail from "../assets/email.svg";
import SVGGitHub from "../assets/github.svg";
import SVGTelegram from "../assets/telegram.svg";
import contacts_raw from "../data/contacts.json";

const contacts = Object.entries(contacts_raw).map(([key, elem]) => {
    if (key === "email") {
        return {
            ...elem,
            icon: SVGMail,
        };
    } else if (key === "github") {
        return {
            ...elem,
            icon: SVGGitHub,
        };
    } else if (key === "telegram") {
        return {
            ...elem,
            icon: SVGTelegram,
        };
    }
    return elem;
});
---

<div class="contacts container" id="block-contacts">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__appeal">
        Готов помочь воплотить ваши идеи в жизнь.
    </div>
    <div class="contacts__list">
        {
            contacts.map((contact) => {
                return (
                    contact.contact && (
                        <a
                            class="contacts__item"
                            href={contact.contact}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <contact.icon />
                            <span>{contact.title}</span>
                        </a>
                    )
                );
            })
        }
    </div>
    <div class="contacts__appeal">
        Рассматриваю предложения о сотрудничестве и полной занятости.
    </div>

    <button class="contacts__form-button" onclick="toogleForm()"
        ><SVGSendEmail /> Заполнить форму</button
    >

    <div class="contacts__form">
        <div>
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfXzWjJXsU9xZRmkAusViZUjVm-1_pNk5CwODCxtenVru1Ovw/viewform?embedded=true"
                marginwidth="0">Загрузка…</iframe
            >
        </div>
    </div>
</div>

<style lang="scss">
    @use "../styles/h2-title" as *;

    .contacts {
        padding-bottom: clamp(3em, 10vw, 5em);

        display: flex;
        flex-direction: column;
        gap: 2em;

        &__title {
            @include title-h2;
            padding-bottom: 0em;
        }

        &__appeal {
            font-size: 0.8em;
            color: var(--color-basic-white-80);
            text-align: center;
            font-weight: 500;
        }

        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em;
        }

        &__item,
        &__form-button {
            padding: 0.5em 1.15em 0.5em 1em;
            border-radius: 6px;
            background-color: var(--color-bg);
            color: var(--color-basic-white-80);
            cursor: pointer;
            user-select: none;
            overflow: hidden;
            font-size: clamp(0.63em, 1.5vw, 1em);
            font-weight: 500;

            text-decoration: none;

            border: 1px solid currentColor;

            transition:
                color 300ms ease-in-out,
                transform 200ms ease-in-out,
                background-color 300ms ease-in-out;
            position: relative;

            display: flex;
            align-items: center;
            gap: 0.8em;

            &::after {
                position: absolute;
                inset: 0;
                content: "";
                background-color: transparent;
                transition: background-color 300ms ease-in-out;
            }

            &:hover {
                color: var(--color-azure);
                background-color: #000;
                transform: translateY(-2px);

                &::after {
                    background-color: var(--color-button-hover-bg);
                }
            }

            svg {
                width: 1.2em;
                height: 1.2em;
            }
        }

        &__form-button {
            color: var(--color-basic-white);
            background-color: var(--color-button-bg);
            cursor: pointer;
            align-self: center;
        }

        &__form {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 300ms ease-in-out;

            > div {
                overflow: hidden;
                display: flex;
            }

            &.show {
                grid-template-rows: 1fr;
            }
        }

        iframe {
            height: 30em;
            border: none;
            outline: none;
            flex-grow: 1;
        }
    }
</style>

<script is:inline>
    function toogleForm() {
        const form = document.querySelector(".contacts__form");
        if (form?.classList.contains("show")) {
            form.classList.remove("show");
        } else {
            form?.classList.add("show");
        }
    }
</script>
